@if(!isAdmin){
  <div class="header">
    <h1>My farms</h1>
    <button mat-raised-button color="accent" routerLink="/farms/add">Add</button>
  </div>
}
@else {
  <div class="header">
    <h1>Farms</h1>
  </div>
}

<div class="farms-container">
    @for(farm of farms; track farm) {
        <mat-card class="example-card">
            <mat-card-content>
              <div class="farm-header">
                <h2>Id: {{farm.id}}</h2>
                <button mat-raised-button color="primary" (click)="onFarmDetails(farm.id)">Details</button>
              </div>
              <h3><b>Address:</b> {{farm.address}}</h3>
            </mat-card-content>
        </mat-card>
    }
</div>