mat-card {
    width: 350px;
    height: fit-content;

    .farm-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.farms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}